SPGenerator/files_generated/projects/commerce/src/main/resources/Client.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="urn:commerce:commerce:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:commerce:commerce:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Client" targetNamespace="urn:commerce:commerce:1.0">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:commerce:commerce:1.0">
  <xs:element name="ConnectionStatus" type="tns:connectionStatus"/>
  <xs:element name="InformationToUpdate" type="tns:informationToUpdate"/>
  <xs:element name="UpdateStatus" type="tns:updateStatus"/>
  <xs:complexType name="connectionStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="informationToUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="age" type="xs:int"/>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="connectProfile" type="tns:connectProfile"/>
  <xs:complexType name="connectProfile">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="connectProfileResponse" type="tns:connectProfileResponse"/>
  <xs:complexType name="connectProfileResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:connectionStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="updateProfile" type="tns:updateProfile"/>
  <xs:complexType name="updateProfile">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:informationToUpdate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="updateProfileResponse" type="tns:updateProfileResponse"/>
  <xs:complexType name="updateProfileResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:updateStatus"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="connectProfile">
    <wsdl:part element="ns1:connectProfile" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProfile">
    <wsdl:part element="ns1:updateProfile" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProfileResponse">
    <wsdl:part element="ns1:updateProfileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="connectProfileResponse">
    <wsdl:part element="ns1:connectProfileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ClientPortType">
    <wsdl:operation name="connectProfile">
      <wsdl:input message="ns1:connectProfile" name="connectProfile">
    </wsdl:input>
      <wsdl:output message="ns1:connectProfileResponse" name="connectProfileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <wsdl:input message="ns1:updateProfile" name="updateProfile">
    </wsdl:input>
      <wsdl:output message="ns1:updateProfileResponse" name="updateProfileResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientSoapBinding" type="ns1:ClientPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="connectProfile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="connectProfile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="connectProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateProfile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Client">
    <wsdl:port binding="ns1:ClientSoapBinding" name="ClientPort">
      <soap:address location="http://localhost:8080/Client/Client"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>