generated_SPs_SCs/IAD/SPs/SP_infantry1/src/main/resources/ServiceName_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="urn:SP_infantry1:SP_infantry1:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:SP_infantry1:SP_infantry1:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceName_1" targetNamespace="urn:SP_infantry1:SP_infantry1:1.0">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:SP_infantry1:SP_infantry1:1.0">
  <xs:element name="InputDataClassName_1_1" type="tns:inputDataClassName_1_1"/>
  <xs:element name="InputDataClassName_1_2" type="tns:inputDataClassName_1_2"/>
  <xs:element name="InputDataClassName_1_3" type="tns:inputDataClassName_1_3"/>
  <xs:element name="InputDataClassName_1_4" type="tns:inputDataClassName_1_4"/>
  <xs:element name="InputDataClassName_1_5" type="tns:inputDataClassName_1_5"/>
  <xs:element name="OutputDataClassName_1_1" type="tns:outputDataClassName_1_1"/>
  <xs:element name="OutputDataClassName_1_2" type="tns:outputDataClassName_1_2"/>
  <xs:element name="OutputDataClassName_1_3" type="tns:outputDataClassName_1_3"/>
  <xs:element name="OutputDataClassName_1_4" type="tns:outputDataClassName_1_4"/>
  <xs:element name="OutputDataClassName_1_5" type="tns:outputDataClassName_1_5"/>
  <xs:complexType name="inputDataClassName_1_1">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_1_1_1" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_1_1_2" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_1_1">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_1_1_1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_1_2">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_1_2_1" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_1_2">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_1_2_3" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_1_2_4" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_1_2_1" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_1_2_2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_1_3">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_1_3_7" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_1_3_8" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_1_3_5" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_1_3_6" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_1_3_9" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_1_3_3" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_1_3_4" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_1_3_1" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_1_3_2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_1_3">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_1_3_2" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_1_3_1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_1_4">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_1_4_2" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_1_4_3" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_1_4_1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_1_4">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_1_4_1" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_1_5">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_1_5_3" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_1_5_4" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_1_5_1" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_1_5_2" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_1_5">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_1_5_4" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_1_5_5" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_1_5_2" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_1_5_3" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_1_5_1" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_1" type="tns:CapabilityName_1_1"/>
  <xs:complexType name="CapabilityName_1_1">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_1_1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_1Response" type="tns:CapabilityName_1_1Response"/>
  <xs:complexType name="CapabilityName_1_1Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_1_1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_2" type="tns:CapabilityName_1_2"/>
  <xs:complexType name="CapabilityName_1_2">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_1_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_2Response" type="tns:CapabilityName_1_2Response"/>
  <xs:complexType name="CapabilityName_1_2Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_1_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_3" type="tns:CapabilityName_1_3"/>
  <xs:complexType name="CapabilityName_1_3">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_1_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_3Response" type="tns:CapabilityName_1_3Response"/>
  <xs:complexType name="CapabilityName_1_3Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_1_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_4" type="tns:CapabilityName_1_4"/>
  <xs:complexType name="CapabilityName_1_4">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_1_4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_4Response" type="tns:CapabilityName_1_4Response"/>
  <xs:complexType name="CapabilityName_1_4Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_1_4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_5" type="tns:CapabilityName_1_5"/>
  <xs:complexType name="CapabilityName_1_5">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_1_5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_5Response" type="tns:CapabilityName_1_5Response"/>
  <xs:complexType name="CapabilityName_1_5Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_1_5"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="CapabilityName_1_5Response">
    <wsdl:part element="ns1:CapabilityName_1_5Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_4Response">
    <wsdl:part element="ns1:CapabilityName_1_4Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_1Response">
    <wsdl:part element="ns1:CapabilityName_1_1Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_2">
    <wsdl:part element="ns1:CapabilityName_1_2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_3">
    <wsdl:part element="ns1:CapabilityName_1_3" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_4">
    <wsdl:part element="ns1:CapabilityName_1_4" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_5">
    <wsdl:part element="ns1:CapabilityName_1_5" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_2Response">
    <wsdl:part element="ns1:CapabilityName_1_2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_1">
    <wsdl:part element="ns1:CapabilityName_1_1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_3Response">
    <wsdl:part element="ns1:CapabilityName_1_3Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceName_1PortType">
    <wsdl:operation name="CapabilityName_1_1">
      <wsdl:input message="ns1:CapabilityName_1_1" name="CapabilityName_1_1">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_1_1Response" name="CapabilityName_1_1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_2">
      <wsdl:input message="ns1:CapabilityName_1_2" name="CapabilityName_1_2">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_1_2Response" name="CapabilityName_1_2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_3">
      <wsdl:input message="ns1:CapabilityName_1_3" name="CapabilityName_1_3">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_1_3Response" name="CapabilityName_1_3Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_4">
      <wsdl:input message="ns1:CapabilityName_1_4" name="CapabilityName_1_4">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_1_4Response" name="CapabilityName_1_4Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_5">
      <wsdl:input message="ns1:CapabilityName_1_5" name="CapabilityName_1_5">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_1_5Response" name="CapabilityName_1_5Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceName_1SoapBinding" type="ns1:ServiceName_1PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CapabilityName_1_1">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_1_1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_1_1Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_1_2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_1_2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_3">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_1_3">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_1_3Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_4">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_1_4">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_1_4Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_5">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_1_5">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_1_5Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceName_1">
    <wsdl:port binding="ns1:ServiceName_1SoapBinding" name="ServiceName_1Port">
      <soap:address location="http://localhost:8080/ServiceName_1/ServiceName_1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>