SPGenerator/files_generated/projects/SP/src/main/resources/Personel.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="urn:SP:SP:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:SP:SP:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Personel" targetNamespace="urn:SP:SP:1.0">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:SP:SP:1.0">
  <xs:element name="Session" type="tns:session"/>
  <xs:element name="SessionResponse" type="tns:sessionResponse"/>
  <xs:complexType name="session">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sessionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ok" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="login" type="tns:login"/>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:session"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="loginResponse" type="tns:loginResponse"/>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:sessionResponse"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="login">
    <wsdl:part element="ns1:login" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part element="ns1:loginResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonelPortType">
    <wsdl:operation name="login">
      <wsdl:input message="ns1:login" name="login">
    </wsdl:input>
      <wsdl:output message="ns1:loginResponse" name="loginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonelSoapBinding" type="ns1:PersonelPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="login">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Personel">
    <wsdl:port binding="ns1:PersonelSoapBinding" name="PersonelPort">
      <soap:address location="http://localhost:8080/Personel/Personel"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>