generated_SPs_SCs/IAD_casestudy/SPs/SP_infantry1/src/main/resources/ServiceName_4.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="urn:SP_infantry1:SP_infantry1:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:SP_infantry1:SP_infantry1:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceName_4" targetNamespace="urn:SP_infantry1:SP_infantry1:1.0">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:SP_infantry1:SP_infantry1:1.0">
  <xs:element name="InputDataClassName_4_1" type="tns:inputDataClassName_4_1"/>
  <xs:element name="InputDataClassName_4_2" type="tns:inputDataClassName_4_2"/>
  <xs:element name="InputDataClassName_4_4" type="tns:inputDataClassName_4_4"/>
  <xs:element name="OutputDataClassName_4_2" type="tns:outputDataClassName_4_2"/>
  <xs:element name="OutputDataClassName_4_3" type="tns:outputDataClassName_4_3"/>
  <xs:element name="OutputDataClassName_4_4" type="tns:outputDataClassName_4_4"/>
  <xs:complexType name="outputDataClassName_4_3">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_4_3_1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_4_4">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_4_4_5" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_4_4_6" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_4_4_7" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_4_4_1" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_4_4_2" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_4_4_3" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_4_4_4" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_4_4">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_4_4_2" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_4_4_1" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_4_1">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_4_1_4" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_4_1_1" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_4_1_2" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_4_1_3" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_4_2">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_4_2_1" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_4_2_2" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_4_2">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_4_2_4" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_4_2_5" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_4_2_6" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_4_2_7" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_4_2_1" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_4_2_2" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_4_2_3" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_4_3" type="tns:CapabilityName_4_3"/>
  <xs:complexType name="CapabilityName_4_3">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="CapabilityName_4_3Response" type="tns:CapabilityName_4_3Response"/>
  <xs:complexType name="CapabilityName_4_3Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_4_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_4_4" type="tns:CapabilityName_4_4"/>
  <xs:complexType name="CapabilityName_4_4">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_4_4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_4_4Response" type="tns:CapabilityName_4_4Response"/>
  <xs:complexType name="CapabilityName_4_4Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_4_4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_4_1" type="tns:CapabilityName_4_1"/>
  <xs:complexType name="CapabilityName_4_1">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_4_1"/>
    </xs:sequence>
  </xs:complexType>
  
  
  <xs:element name="CapabilityName_4_2" type="tns:CapabilityName_4_2"/>
  <xs:complexType name="CapabilityName_4_2">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_4_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_4_2Response" type="tns:CapabilityName_4_2Response"/>
  <xs:complexType name="CapabilityName_4_2Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_4_2"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="CapabilityName_4_3">
    <wsdl:part element="ns1:CapabilityName_4_3" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_4_4">
    <wsdl:part element="ns1:CapabilityName_4_4" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_4_4Response">
    <wsdl:part element="ns1:CapabilityName_4_4Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="CapabilityName_4_1">
    <wsdl:part element="ns1:CapabilityName_4_1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_4_2">
    <wsdl:part element="ns1:CapabilityName_4_2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_4_3Response">
    <wsdl:part element="ns1:CapabilityName_4_3Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_4_2Response">
    <wsdl:part element="ns1:CapabilityName_4_2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceName_4PortType">
    <wsdl:operation name="CapabilityName_4_3">
      <wsdl:input message="ns1:CapabilityName_4_3" name="CapabilityName_4_3">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_4_3Response" name="CapabilityName_4_3Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_4_4">
      <wsdl:input message="ns1:CapabilityName_4_4" name="CapabilityName_4_4">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_4_4Response" name="CapabilityName_4_4Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_4_1">
      <wsdl:input message="ns1:CapabilityName_4_1" name="CapabilityName_4_1">
    </wsdl:input>
      
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_4_2">
      <wsdl:input message="ns1:CapabilityName_4_2" name="CapabilityName_4_2">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_4_2Response" name="CapabilityName_4_2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceName_4SoapBinding" type="ns1:ServiceName_4PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CapabilityName_4_3">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_4_3">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_4_3Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_4_4">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_4_4">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_4_4Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_4_1">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_4_1">
        <soap:body use="literal"/>
      </wsdl:input>
      
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_4_2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_4_2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_4_2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceName_4">
    <wsdl:port binding="ns1:ServiceName_4SoapBinding" name="ServiceName_4Port">
      <soap:address location="http://localhost:8080/ServiceName_4/ServiceName_4"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>