generated_SPs_SCs/test/large2/src/main/resources/ServiceName_7.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="urn:large2:large2:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:large2:large2:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceName_7" targetNamespace="urn:large2:large2:1.0">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:large2:large2:1.0">
  <xs:element name="InputDataClassName_7_1" type="tns:inputDataClassName_7_1"/>
  <xs:element name="InputDataClassName_7_2" type="tns:inputDataClassName_7_2"/>
  <xs:element name="InputDataClassName_7_3" type="tns:inputDataClassName_7_3"/>
  <xs:element name="InputDataClassName_7_4" type="tns:inputDataClassName_7_4"/>
  <xs:element name="OutputDataClassName_7_1" type="tns:outputDataClassName_7_1"/>
  <xs:element name="OutputDataClassName_7_2" type="tns:outputDataClassName_7_2"/>
  <xs:element name="OutputDataClassName_7_3" type="tns:outputDataClassName_7_3"/>
  <xs:element name="OutputDataClassName_7_4" type="tns:outputDataClassName_7_4"/>
  <xs:complexType name="inputDataClassName_7_4">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_7_4_4" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_4_5" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_4_2" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_7_4_3" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_4_1" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_4_6" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_4_7" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_7_4">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_7_4_2" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_7_4_1" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_7_4_4" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_7_4_3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_7_1">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_7_1_7" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_7_1_5" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_1_6" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_7_1_3" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_1_4" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_7_1_1" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_7_1_2" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_7_1">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_7_1_1" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_7_1_5" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_7_1_4" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_7_1_3" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_7_1_2" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_7_1_7" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_7_1_6" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_7_2">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_7_2_6" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_2_7" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_7_2_4" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_7_2_5" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_7_2_2" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_2_3" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_7_2_1" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_2_8" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_7_2">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_7_2_4" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_7_2_3" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_7_2_2" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_7_2_1" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_7_2_8" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_7_2_7" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_7_2_6" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_7_2_5" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_7_3">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_7_3_5" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_7_3_6" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_7_3_3" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_7_3_4" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_3_1" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_7_3_2" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_3_9" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_7_3_7" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_7_3_8" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_7_3">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_7_3_9" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_7_3_8" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_7_3_3" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_7_3_2" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_7_3_1" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_7_3_7" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_7_3_6" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_7_3_5" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_7_3_4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_7_4" type="tns:CapabilityName_7_4"/>
  <xs:complexType name="CapabilityName_7_4">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_7_4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_7_4Response" type="tns:CapabilityName_7_4Response"/>
  <xs:complexType name="CapabilityName_7_4Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_7_4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_7_5" type="tns:CapabilityName_7_5"/>
  <xs:complexType name="CapabilityName_7_5">
    <xs:sequence/>
  </xs:complexType>
  
  
  <xs:element name="CapabilityName_7_6" type="tns:CapabilityName_7_6"/>
  <xs:complexType name="CapabilityName_7_6">
    <xs:sequence/>
  </xs:complexType>
  
  
  <xs:element name="CapabilityName_7_1" type="tns:CapabilityName_7_1"/>
  <xs:complexType name="CapabilityName_7_1">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_7_1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_7_1Response" type="tns:CapabilityName_7_1Response"/>
  <xs:complexType name="CapabilityName_7_1Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_7_1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_7_2" type="tns:CapabilityName_7_2"/>
  <xs:complexType name="CapabilityName_7_2">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_7_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_7_2Response" type="tns:CapabilityName_7_2Response"/>
  <xs:complexType name="CapabilityName_7_2Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_7_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_7_3" type="tns:CapabilityName_7_3"/>
  <xs:complexType name="CapabilityName_7_3">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_7_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_7_3Response" type="tns:CapabilityName_7_3Response"/>
  <xs:complexType name="CapabilityName_7_3Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_7_3"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="CapabilityName_7_4">
    <wsdl:part element="ns1:CapabilityName_7_4" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="CapabilityName_7_5">
    <wsdl:part element="ns1:CapabilityName_7_5" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_7_6">
    <wsdl:part element="ns1:CapabilityName_7_6" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_7_4Response">
    <wsdl:part element="ns1:CapabilityName_7_4Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_7_1Response">
    <wsdl:part element="ns1:CapabilityName_7_1Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="CapabilityName_7_1">
    <wsdl:part element="ns1:CapabilityName_7_1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_7_3Response">
    <wsdl:part element="ns1:CapabilityName_7_3Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_7_2">
    <wsdl:part element="ns1:CapabilityName_7_2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_7_2Response">
    <wsdl:part element="ns1:CapabilityName_7_2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_7_3">
    <wsdl:part element="ns1:CapabilityName_7_3" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceName_7PortType">
    <wsdl:operation name="CapabilityName_7_4">
      <wsdl:input message="ns1:CapabilityName_7_4" name="CapabilityName_7_4">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_7_4Response" name="CapabilityName_7_4Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_7_5">
      <wsdl:input message="ns1:CapabilityName_7_5" name="CapabilityName_7_5">
    </wsdl:input>
      
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_7_6">
      <wsdl:input message="ns1:CapabilityName_7_6" name="CapabilityName_7_6">
    </wsdl:input>
      
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_7_1">
      <wsdl:input message="ns1:CapabilityName_7_1" name="CapabilityName_7_1">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_7_1Response" name="CapabilityName_7_1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_7_2">
      <wsdl:input message="ns1:CapabilityName_7_2" name="CapabilityName_7_2">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_7_2Response" name="CapabilityName_7_2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_7_3">
      <wsdl:input message="ns1:CapabilityName_7_3" name="CapabilityName_7_3">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_7_3Response" name="CapabilityName_7_3Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceName_7SoapBinding" type="ns1:ServiceName_7PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CapabilityName_7_4">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_7_4">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_7_4Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_7_5">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_7_5">
        <soap:body use="literal"/>
      </wsdl:input>
      
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_7_6">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_7_6">
        <soap:body use="literal"/>
      </wsdl:input>
      
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_7_1">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_7_1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_7_1Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_7_2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_7_2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_7_2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_7_3">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_7_3">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_7_3Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceName_7">
    <wsdl:port binding="ns1:ServiceName_7SoapBinding" name="ServiceName_7Port">
      <soap:address location="http://localhost:8080/ServiceName_7/ServiceName_7"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>