generated_SPs_SCs/IAD_casestudy/SPs/SP_drone1/src/main/resources/ServiceName_2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="urn:SP_drone1:SP_drone1:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:SP_drone1:SP_drone1:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceName_2" targetNamespace="urn:SP_drone1:SP_drone1:1.0">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:SP_drone1:SP_drone1:1.0">
  <xs:element name="InputDataClassName_2_1" type="tns:inputDataClassName_2_1"/>
  <xs:element name="InputDataClassName_2_3" type="tns:inputDataClassName_2_3"/>
  <xs:element name="OutputDataClassName_2_3" type="tns:outputDataClassName_2_3"/>
  <xs:complexType name="inputDataClassName_2_1">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_2_1_1" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_2_1_2" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_2_1_3" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_2_1_4" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_2_1_5" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_2_1_6" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_2_1_7" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_2_1_8" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_2_1_9" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_2_3">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_2_3_1" type="xs:string"/>
      <xs:element minOccurs="0" name="InputName_2_3_2" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_2_3">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_2_3_9" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_2_3_5" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_2_3_6" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_2_3_7" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_2_3_8" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_2_3_1" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_2_3_2" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_2_3_3" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_2_3_4" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_2_2" type="tns:CapabilityName_2_2"/>
  <xs:complexType name="CapabilityName_2_2">
    <xs:sequence/>
  </xs:complexType>
  
  
  <xs:element name="CapabilityName_2_1" type="tns:CapabilityName_2_1"/>
  <xs:complexType name="CapabilityName_2_1">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_2_1"/>
    </xs:sequence>
  </xs:complexType>
  
  
  <xs:element name="CapabilityName_2_3" type="tns:CapabilityName_2_3"/>
  <xs:complexType name="CapabilityName_2_3">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_2_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_2_3Response" type="tns:CapabilityName_2_3Response"/>
  <xs:complexType name="CapabilityName_2_3Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_2_3"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="CapabilityName_2_3Response">
    <wsdl:part element="ns1:CapabilityName_2_3Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_2_2">
    <wsdl:part element="ns1:CapabilityName_2_2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_2_1">
    <wsdl:part element="ns1:CapabilityName_2_1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_2_3">
    <wsdl:part element="ns1:CapabilityName_2_3" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  
  <wsdl:portType name="ServiceName_2PortType">
    <wsdl:operation name="CapabilityName_2_2">
      <wsdl:input message="ns1:CapabilityName_2_2" name="CapabilityName_2_2">
    </wsdl:input>
      
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_2_1">
      <wsdl:input message="ns1:CapabilityName_2_1" name="CapabilityName_2_1">
    </wsdl:input>
      
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_2_3">
      <wsdl:input message="ns1:CapabilityName_2_3" name="CapabilityName_2_3">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_2_3Response" name="CapabilityName_2_3Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceName_2SoapBinding" type="ns1:ServiceName_2PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CapabilityName_2_2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_2_2">
        <soap:body use="literal"/>
      </wsdl:input>
      
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_2_1">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_2_1">
        <soap:body use="literal"/>
      </wsdl:input>
      
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_2_3">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_2_3">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_2_3Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceName_2">
    <wsdl:port binding="ns1:ServiceName_2SoapBinding" name="ServiceName_2Port">
      <soap:address location="http://localhost:8080/ServiceName_2/ServiceName_2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>