generated_SPs_SCs/IAD/SPs/SP_helicopter2/src/main/resources/ServiceName_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="urn:SP_helicopter2:SP_helicopter2:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:SP_helicopter2:SP_helicopter2:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceName_1" targetNamespace="urn:SP_helicopter2:SP_helicopter2:1.0">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:SP_helicopter2:SP_helicopter2:1.0">
  <xs:element name="InputDataClassName_1_1" type="tns:inputDataClassName_1_1"/>
  <xs:element name="InputDataClassName_1_2" type="tns:inputDataClassName_1_2"/>
  <xs:element name="InputDataClassName_1_3" type="tns:inputDataClassName_1_3"/>
  <xs:element name="OutputDataClassName_1_1" type="tns:outputDataClassName_1_1"/>
  <xs:element name="OutputDataClassName_1_2" type="tns:outputDataClassName_1_2"/>
  <xs:element name="OutputDataClassName_1_3" type="tns:outputDataClassName_1_3"/>
  <xs:complexType name="inputDataClassName_1_1">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_1_1_1" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_1_1_2" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_1_1_3" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_1_1">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_1_1_6" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_1_1_7" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_1_1_4" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_1_1_5" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_1_1_2" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_1_1_3" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_1_1_1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_1_2">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_1_2_1" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_1_2_2" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_1_2">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_1_2_5" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_1_2_3" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_1_2_4" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_1_2_1" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_1_2_2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataClassName_1_3">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputName_1_3_5" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_1_3_3" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_1_3_4" type="xs:float"/>
      <xs:element minOccurs="0" name="InputName_1_3_1" type="xs:int"/>
      <xs:element minOccurs="0" name="InputName_1_3_2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputDataClassName_1_3">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputName_1_3_6" type="xs:int"/>
      <xs:element minOccurs="0" name="OutputName_1_3_4" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_1_3_5" type="xs:string"/>
      <xs:element minOccurs="0" name="OutputName_1_3_2" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_1_3_3" type="xs:float"/>
      <xs:element minOccurs="0" name="OutputName_1_3_1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_1" type="tns:CapabilityName_1_1"/>
  <xs:complexType name="CapabilityName_1_1">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_1_1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_1Response" type="tns:CapabilityName_1_1Response"/>
  <xs:complexType name="CapabilityName_1_1Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_1_1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_2" type="tns:CapabilityName_1_2"/>
  <xs:complexType name="CapabilityName_1_2">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_1_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_2Response" type="tns:CapabilityName_1_2Response"/>
  <xs:complexType name="CapabilityName_1_2Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_1_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_3" type="tns:CapabilityName_1_3"/>
  <xs:complexType name="CapabilityName_1_3">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="tns:inputDataClassName_1_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapabilityName_1_3Response" type="tns:CapabilityName_1_3Response"/>
  <xs:complexType name="CapabilityName_1_3Response">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="tns:outputDataClassName_1_3"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="CapabilityName_1_1Response">
    <wsdl:part element="ns1:CapabilityName_1_1Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_2">
    <wsdl:part element="ns1:CapabilityName_1_2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_3">
    <wsdl:part element="ns1:CapabilityName_1_3" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_2Response">
    <wsdl:part element="ns1:CapabilityName_1_2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_1">
    <wsdl:part element="ns1:CapabilityName_1_1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityName_1_3Response">
    <wsdl:part element="ns1:CapabilityName_1_3Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceName_1PortType">
    <wsdl:operation name="CapabilityName_1_1">
      <wsdl:input message="ns1:CapabilityName_1_1" name="CapabilityName_1_1">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_1_1Response" name="CapabilityName_1_1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_2">
      <wsdl:input message="ns1:CapabilityName_1_2" name="CapabilityName_1_2">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_1_2Response" name="CapabilityName_1_2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_3">
      <wsdl:input message="ns1:CapabilityName_1_3" name="CapabilityName_1_3">
    </wsdl:input>
      <wsdl:output message="ns1:CapabilityName_1_3Response" name="CapabilityName_1_3Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceName_1SoapBinding" type="ns1:ServiceName_1PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CapabilityName_1_1">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_1_1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_1_1Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_1_2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_1_2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapabilityName_1_3">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CapabilityName_1_3">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CapabilityName_1_3Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceName_1">
    <wsdl:port binding="ns1:ServiceName_1SoapBinding" name="ServiceName_1Port">
      <soap:address location="http://localhost:8080/ServiceName_1/ServiceName_1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>